#welcome
  = link_to new_news_path, class: 'btn btn-danger', style: 'margin-right: 10px' do
    %i.fa.fa-pencil
    ニュースを投稿する

  = link_to user_omniauth_authorize_path(:facebook), class: 'btn btn-primary' do
    %i.fa.fa-facebook-square
    Facebookログイン
  %ul#newsWrapper
    - News.all.each.with_index(1) do |news, i|
      %li.newsList.clearfix
        .rankingIcon= i
        .voteInfo
          .voteBtn
            = link_to users_vote_path(news_id: news.id), method: :post do
              %i.fa.fa-sort-asc
          .voteCount
            = news.relation_votes.count
        .newsContents
          %h2
            = link_to news.title, news.url
          .detail
            = news.created_at
            // = news.contents
        .commentBtn
          .commentIcon
            %i.fa.fa-comment
          .commentCount
            1 comment





