#welcome
  = link_to new_news_path, class: 'btn btn-danger', style: 'margin-right: 10px' do
    %i.fa.fa-pencil
    ニュースを投稿する

  = link_to user_omniauth_authorize_path(:facebook), class: 'btn btn-primary' do
    %i.fa.fa-facebook-square
    Facebookログイン
  %ul#newsWrapper
    - News.all.each.with_index(1) do |news, i|
      %li
        %div
          %p.rankingIcon= i
          %h2= news.title
        = news.contents
        = link_to '投票する', users_vote_path(news_id: news.id), method: :post


