- if current_user
  #news
    #new
      %h1 New news
      = form_for @news, class: 'form-horizontal' do |f|
        - if alert
          #error_explanation
            %p{style: 'color: #999;'}= alert
        .form-group.row
          = f.label :user_id, class: 'col-sm-2 control-label'
          .col-sm-4
            .form-control
              = current_user.name
        .form-group.row
          = f.label :title, class: 'col-sm-2 control-label'
          .col-sm-4
            = f.text_field :title, class: 'form-control'
        .form-group.row
          = f.label :url, class: 'col-sm-2 control-label'
          .col-sm-4
            = f.text_field :url, class: 'form-control'
        .form-group.row
          = f.label :contents, class: 'col-sm-2 control-label'
          .col-sm-4
            = f.text_area :contents, class: 'form-control'
        .form-group.row
          .col-sm-2
            = f.submit 'ニュースを投稿する', class: 'btn btn-primary'
