!!!
%html
  %head
    %title Hacker Board
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    %meta{ name: 'description', content: 'Hacker' }
    %meta{ name: 'copyright', content: 'http://www.hackerboard.tokyo/' }
    = favicon_link_tag 'favicon.jpg'
    = csrf_meta_tags

    def c(id, point)
      news = News.find(id)
      news.point = point
      news.save
    end
  %body
    %nav#header.clearfix
      #logWrapper
        = link_to 'Hacker Board', root_path, class: 'navbar-brand'
        .pull-right
          .clearfix.Btns
            - if current_user
              = link_to destroy_user_session_path, method: :delete, class: 'btn-logout pull-right' do
                .clearfix
                  %i.fa.fa-power-off.pull-left
                  %p.pull-left{style: 'font-size: 15px; line-height: 21px; padding-top: 5px;'}
                    Logout

              = link_to new_news_path, class: 'pull-right btn-post' do
                .clearfix
                  %i.fa.fa-pencil-square-o.pull-left
                  %p.pull-left{style: 'font-size: 15px; line-height: 21px; padding-top: 5px;'}
                    Post

            - else
              = link_to user_omniauth_authorize_path(:facebook), class: 'btn-facebook pull-right' do
                .clearfix
                  %i.fa.fa-facebook-square.pull-left
                  %p.pull-left{style: 'font-size: 15px; line-height: 21px; padding-top: 5px;'}
                    Login

              = link_to '#', class: 'pull-right btn-post', onclick: 'alert("ログインするとニュースをシェアする事が出来るようになります。")' do
                .clearfix
                  %i.fa.fa-pencil-square-o.pull-left
                  %p.pull-left{style: 'font-size: 15px; line-height: 21px; padding-top: 5px;'}
                    Post

    #mainContents
      = yield
